body {
	/*padding-top:3em;*/
	font-family: 'Roboto Condensed', sans-serif;
	background-color:#006BFF;
}
.about .navv a {
	text-align:center;
	text-decoration:none;
	color:white;
	font-weight:400;
	font-size:20px;
	text-align:center;
	padding-top:10px;
	padding-left:20px;
	
}
.about .navv {
	font-size:30px;
	
}
.about a:hover{
color:#006BFF;
	}	
.about .navv a{
	font-weight:400;
	color:white;
}



.about {
	padding-top:10px;
	width:100%;
	height:599px;
	background-color:#FFA800;
	color:white;
}
.about .contain{
	padding-top:10%;
text-align:center;


}
.about img{
	width:150px;
	height:200px;
	
}
.about .polaroidtext h1{
font-weight:700;
	color:#006BFF;
}
.about p{
	padding-top:2%;
	font-size:30px;
}

.about .polaroid {
    width: 100%;
	max-width:300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	margin-left: auto ;
  margin-right: auto ;
	}


.about .polaroidtext {
	
    text-align: center;
    padding: 10px 20px;
	font-weight:700;
	font-size:30px;
	color:black;
}

.about .desc{
	padding-left:0;
}

.skills{
	width:100%;
	height:400px;
	color:white;
	text-align: center;
}
.skills h1{
	font-weight:700;
	font-size:200px;
	
}
.skills p{
font-size:30px;	
}

.projects{
	padding-top:5px;
	width:100%;
	height:600px;
	background-color:#FFA800;
	color:white;
}
.footer{
	width:100%;
	height:100px;
	color:white;
	text-align: center;
}
.footer h4{
	font-size:15px;
}
.footer p{
	font-size:10px;
}


